@import "~materialize-css/dist/css/materialize.min.css";

body {
    color: gray;
}

input:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: #b82d2d 2px solid;
    box-shadow: none;
}
input:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input.valid:not(.browser-default),
input.valid[type=password]:not(.browser-default),
input.valid[type=email]:not(.browser-default){
    border-bottom: white 2px solid;
    box-shadow: none;
    color: white;
}

[type="checkbox"]+span:not(.lever) {
    display: inline;
}

.card .card-action {
    border-top: #f08080 2px dashed;
}

.link-card {
    background: #d9d9d9;
    padding: 0.1rem 2rem 0.5rem 2rem;
    margin: 2rem;
}

.active-link {
    background: #a75252;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    background: #f08080;
    border: #f08080;
}

.form-table tr{
    border-bottom: none;
}